.progress {
  margin: auto;
  flex-wrap: wrap;
  width: 96%;
  height: auto;
  &__lightSaber {
    position: relative;
    left: 2%;
    width: 100%;
    display: flex;
    height: auto;
  }
  &__saberHandle {
    width: 20%;
    display: block;
    align-self: center;
  }
  &__saberLight {
    width: 100%;
    height: 0.75rem;
    align-self: center;
    border-radius: 10px;
    position: relative;
    left: -2%;
    &--lit {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background-color: whitesmoke;
      border-radius: inherit;
      box-shadow: 14px 0px 16px 4px rgba(250, 18, 56, 1);
      transition: width 1s;
    }
  }
  &__time {
    color: red;
    text-align: center;
    margin: 10px auto;
  }
  &__timeLeft {
    color: inherit;
  }
}
