.switch {
  position: relative;
  width: 80%;
  margin-top: 15px;

  &:before {
    content: '  ';
    display: flex;
    left: 0;
    z-index: -1;
    width: 300px;
    height: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 1em red;
  }
  &__label {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 2rem;
    margin-top: 7%;
    margin-left: 45%;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
    color: black;
  }
  &__easy {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 2rem;
    margin-top: 7%;
    margin-left: 10%;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
    color: black;
  }
  &__expert {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 2rem;
    margin-top: 7%;
    margin-left: 85%;
    font-size: 0.5rem;
    text-align: center;
    cursor: pointer;
    color: black;
  }

  &__indicator {
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    left: 0;
    background: blue;
    border-radius: 50%;
    transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97),
      background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
    transform: translate3d(1rem, 0, 0);
  }

  input#easy:checked ~ .switch__indicator {
    background: red;
    transform: translate3d(20%, 0, 0);
    opacity: 0.6;
    box-shadow: 0 0 1em red;
  }
  input#medium:checked ~ .switch__indicator {
    background: red;
    transform: translate3d(3.8rem, 0, 0);
    opacity: 0.6;
    box-shadow: 0 0 1em red;
  }
  input#hard:checked ~ .switch__indicator {
    background: red;
    transform: translate3d(7rem, 0, 0);
    opacity: 0.6;
    box-shadow: 0 0 1em red;
  }
  input[type='radio'] {
    &:not(:checked),
    &:checked {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .switch {
   
    margin-bottom: 10px;
 

    input#easy:checked ~ .switch__indicator {
      transform: translate3d(0.8rem, 0, 0);
    }
    input#medium:checked ~ .switch__indicator {
      transform: translate3d(4rem, 0, 0);
    }
    input#hard:checked ~ .switch__indicator {
      transform: translate3d(8rem, 0, 0);
    }
  }
}

@media (max-width: 768px) {
  .switch {
    
    margin-bottom: 10px;
     

    input#easy:checked ~ .switch__indicator {
      transform: translate3d(0.8rem, 0, 0);
    }
    input#medium:checked ~ .switch__indicator {
      transform: translate3d(5rem, 0, 0);
    }
    input#hard:checked ~ .switch__indicator {
      transform: translate3d(9.5rem, 0, 0);
    }
  }
}

@media (max-width: 480px) {
  .switch {
 

    input#hard:checked ~ .switch__indicator {
      transform: translate3d(10.7rem, 0, 0);
    }
    input#medium:checked ~ .switch__indicator {
      transform: translate3d(5.5rem, 0, 0);
    }
  }
}

#settingsImg{
  display: flex;
  align-items: center;
  flex-direction: column;
}