.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1%;
  &__logo {
    width: 25%;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 3rem;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
  }
  &__item {
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: auto;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    &--selected {
      color: black;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: rgba(255, 0, 0, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          4px 4px 40px rgba(255, 0, 0, 0.9);
        border-radius: 4px;
      }
    }
    &--disabled {
      color: grey;
      cursor: context-menu;
    }
  }
}

@media (max-width: 1024px) {
  .menu__logo {
    width: 28%;
  }
  .menu__list {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    &__logo {
      width: 50%;
    }
    &__list {
      width: 80%;
      height: 4rem;
      &__item {
        width: 25%;
      }
    }
  }
}

@media (max-width: 480px) {
  .menu__list {
    width: 90%;
    &__item {
      font-size: 15px;
    }
  }
}
