.question__photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
}

.question__image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
  border-radius: 16px;
  object-fit: cover;
  height: 12.6rem;
  width: 70%;
  align-content: center;
}

.mode {
  &__type,
  &__rules {
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
  }
  &__type {
    font-weight: 600;
    &___description {
      margin-top: 20px;
      font-size: 0.8rem;
      text-align: left;
    }
  }
}

@media (max-width: 1024px) {
  .question__photo {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .question__photo {
    width: 100%;
  }
  .question__image {
    height: 18rem;
    width: 70%;
    margin: 2% auto;
  }

  .mode {
    &__type,
    &__rules {
      padding: 20px;
    }
  }
}

@media (max-width: 480px) {
  .question__photo {
    width: 95%;
    margin-bottom: 2%;
  }
  .question__image {
    width: 80%;
    margin-top: 2%;
  }
}
