@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: black;  
}

.page {
    position: relative;
    background-image: url(../img/QuizBackground.png);
    background-size: cover;
    padding: 3%;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.menu__logo {
    width: 25%;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 110px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
}

.menu__item {
    position: relative;
    padding: 10px;
    width: 20%;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.menu__item--selected {
    color: black; 
}

.menu__item--selected::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 4px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.question__photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%
}

.question__image {
    width: 100%;
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}

.mode__type, .mode__rules {
    background-color: white;
    width: 100%;
    padding: 30px; 
    text-align: center;
    margin-bottom: 3%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.mode__type {
    font-weight: 600;
}

.mode___description {
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: left;
}

.buttons {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-left: 32%;
}

.button {
    border-radius: 16px;
    border: none;
    padding: 20px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    background-color: white;
    transition: 0.2s linear;
}

.button:hover {
    background-color: #444;
    color: white;
}

.button--ranking {
    width: 48%;
}

.button--play {
    width: 48%;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    text-transform: uppercase;
    color: white;
}

.button--settings {
    position: absolute;
    bottom: 5%;
    left: 7%;
    width: 20%;
} 

/* ****************** game in progress ************** */
.option-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button-option {
    margin: 20px 0;
    width: 47%;
}
.progress-wraper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    height: auto;
}
.progress-lightSaber {
    position: relative;
    left: 2%;
    width: 100%;
    display: flex;
    height: auto;
}
.handle {
    width: 20%;
    display: block;
    align-self: center;
}
.light {
    width: 80%;
    height: 68%;
    background-color: grey;
    align-self: center;
    border-radius: 10px;
    position: relative;
    left: -2%;
} 
.light::after {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
    border-radius: inherit;
    box-shadow: 14px 0px 16px 4px rgba(250,18,56,1);
}
.timeLeft {
    color: red;
    align-self: center;
    margin: 10px auto;
}
.timeLeft span {
    color: inherit;
}

@media (max-width: 1280px) {
    * {
        font-size: 27px;
    }
}

@media (max-width: 1024px) {
    * {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 20px;
    }

    .menu {
        flex-direction: column;
    }

    .menu__logo {
        width: 60%;
    }
    
    .menu__list {
        width: 95%;
        height: 90px;
    }

    .menu__item {
        width: 25%;
    }
   
    .question__photo {
        justify-content: flex-start;
        width: 46%;
    }
    
    .mode {
        width: 46%;
    }

    .buttons {
        width: 95%;
        margin: 3%;    }
    
    .button--settings {
        position: static;
        width: 95%;
    } 
}

@media (max-width: 480px) {
    * {
        font-size: 18px;
    }
    
    .menu__list {
        height: 70px;
    }

    .menu__item {
        font-size: 15px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .question__photo {
        width: 95%;
        align-items: center;
        margin-bottom: 2%;
    }
    
    .mode {
        width: 95%;
    }  
}




