@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  background-image: url(../img/QuizBackground.png);
  background-size: cover;
  padding: 1rem;
}

.wrapper {
  position: relative;
  margin: 0 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
  &__logo {
    width: 25%;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 110px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
  }
  &__item {
    position: relative;
    padding: 10px;
    width: 20%;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    &--selected {
      color: black;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: rgba(255, 0, 0, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          4px 4px 40px rgba(255, 0, 0, 0.9);
        border-radius: 4px;
      }
    }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.question__photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.question__image {
  width: 100%;
}

.mode__wrap-game-in-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  &__type, &__rules{
      background-color: white;
      width: 100%;
      padding: 30px; 
      text-align: center;
      margin-bottom: 3%;
      border-radius: 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
  }
  &__type{
      font-weight: 600;
  }
  &___description{
      margin-top: 20px;
      font-size: 0.8rem;
      text-align: left;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__option {
      margin-bottom: 6%;
      width: 47%;
      box-shadow: inset 3px 3px 12px -4px grey;
  }
}

.progress {
  margin: auto;
  display: none;
  flex-wrap: wrap;
  width: 94%;
  height: auto;
  &__lightSaber {
      position: relative;
      left: 2%;
      width: 100%;
      display: flex;
      height: auto;
  }
  &__saberHandle {
      width: 20%;
      display: block;
      align-self: center;
  }
  &__saberLight {
      width: 80%;
      height: 68%;
      background-color: grey;
      align-self: center;
      border-radius: 10px;
      position: relative;
      left: -2%;
      &::after {
          content: "";
          display: block;
          height: 100%;
          width: 50%;
          background-color: whitesmoke;
          border-radius: inherit;
          box-shadow: 14px 0px 16px 4px rgba(250,18,56,1);
      } 
  }
  &__time {
      color: red;
      align-self: center;
      margin: 10px auto;
  }
  &__timeLeft{
      color: inherit;
  }
}

.mode {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  &__type,
  &__rules {
    background-color: white;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
  }
  &__type {
    font-weight: 600;
    &___description {
      margin-top: 20px;
      font-size: 0.8rem;
      text-align: left;
    }
  }
}

.ranking {
  &__table {
    max-height: 20rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }

  &__table--header {
    font-weight: bold;
  }
}
.buttons {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-left: 32%;
}

.button {
  border-radius: 16px;
  border: none;
  padding: 20px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  transition: 0.2s linear;
  &:hover {
    background-color: #444;
    color: white;
  }
  &--ranking {
    width: 48%;
  }
  &--play {
    width: 48%;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
    text-transform: uppercase;
    color: white;
  }
  &--settings {
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 20%;
  }
  &--back {
    position: relative;
    margin-top: 10rem;
    width: 10rem;
  }
  &--save {
    margin-top: 30px;
    width: 6rem;
  }
  &--clear {
    margin-top: 30px;
    width: 6rem;
  }
}

.api_key--input {
  border: 4px solid #c4c4c4;
  border-radius: 8px;
  width: 55%;
  font-size: 1.2rem;
  margin-right: 20px;
  height: 70px;
}

.settings {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 60px;
  width: auto;
}

label {
  color: white;
  margin-right: 20px;
  font-size: 0.8rem;
}

.modal {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -4%);
  min-width: 80%;
  height: auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
  padding: 2rem 2.5rem;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  &__description {
    padding-top: 0.5rem;
    padding-bottom: 1.67rem;
  }

  &__answers {
    display: flex;

    &--img {
      height: 11.5rem;
    }
  }

  .table {
    margin-left: 1.83rem;
    text-align: left;

    caption {
      text-align: left;
      font-size: 0.87rem;
      line-height: 1.07rem;
      font-weight: 600;
      padding-bottom: 0.6rem;
    }

    th {
      color: rgba(0, 0, 0, 0.6);
    }

    th,
    td {
      font-size: 0.8rem;
    }

    td {
      padding-right: 1.83rem;
    }

    .table__cell {
      &--correct {
        color: rgba(87, 181, 13, 0.6);
      }

      &--incorrect {
        color: rgba(255, 0, 0, 0.6);
      }
    }

    &__img {
      height: 2.87rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        4px 4px 40px rgba(255, 0, 0, 0.9);
      border-radius: 16px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  .form {
    display: flex;

    &__input {
      border: 4px solid #c4c4c4;
      border-radius: 8px;
      height: 2rem;
      width: 16rem;
      font-size: 1.2rem;
      padding: 1rem;
    }

    label {
      font-size: 0.93rem;
      padding-left: 0.7rem;
      color: black;
    }
  }

  .submit {
    margin-top: 2rem;
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem;
    background-color: #ff0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;

    button {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

@media (max-width: 1280px) {
  * {
    font-size: 27px;
  }

  .modal {
    .form {
      label {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 20px;
  }

  .menu {
    flex-direction: column;
    &__logo {
      width: 60%;
    }
    &__list {
      width: 95%;
      height: 90px;
      &__item {
        width: 25%;
      }
    }
  }

  .question__photo {
    justify-content: flex-start;
    width: 46%;
  }

  .mode {
    width: 46%;
    &__hall {
      padding: 15px;
    }
  }
  .api_key--input {
    width: 80%;
  }
  .button--back {
    margin-top: 10rem;
    margin-left: 35px;
  }

  .ranking__table * {
    font-size: 15px;
  }

  .buttons {
    width: 95%;
    margin: 3%;
  }

  .button--settings {
    position: static;
    width: 95%;
  }

  .modal {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    top: 0;
    transform: translate(-50%, 0%);
    padding: 2rem 2rem;

    &__answers {
      flex-direction: column;

      &--img {
        width: 10rem;
        height: auto;
        margin: 0 auto;
        padding-bottom: 1rem;
      }
    }

    .table {
      margin-left: 0;

      td {
        padding-right: 0.93rem;
      }
    }

    .form {
      flex-direction: column;
      padding-top: 1.3rem;

      &__input,
      label {
        margin: 0.3rem auto;
        width: 13rem;
      }
    }

    .submit {
      width: 11rem;
    }
  }
}

@media (max-width: 480px) {
  * {
    font-size: 18px;
  }

  .menu__list {
    height: 70px;
    &__item {
      font-size: 15px;
    }
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .question__photo {
    width: 95%;
    align-items: center;
    margin-bottom: 2%;
  }

  .mode {
    width: 95%;
  }

  .modal {
    padding: 2rem 1.5rem;
  }
}
